.chevron:before{border-style:solid;border-width:1px 1px 0 0;content:'';display:inline-block;height:12px;left:0;position:relative;top:0;transform:rotate(-45deg);vertical-align:top;width:12px;transition:200ms ease}.chevron.bottom:before{transform:rotate(135deg)}