.labels_group>*{margin-right:5px;margin-bottom:5px}.labels_group>*:last-child{margin-right:0}.label{display:inline-block;border-radius:0;font-size:12px;text-transform:uppercase;font-weight:normal;padding:5px;width:auto}