a,.btn{transition:.2s;-webkit-transition:.2s;-moz-transition:.2s;-o-transition:.2s}.site-wrap,.mobile_knob,.mobile_navi{transition:left .2s;-webkit-transition:left .2s;-moz-transition:left .2s;-o-transition:left .2s}