<header class="header">
  <nav class="navbar navbar-default navbar-static-top">
      <div class="container">
          <div class="navbar-header">
              <button type="button" class="navbar-toggle collapsed" data-toggle="collapse" data-target="#app-navbar-collapse" aria-expanded="false">
                  <span class="sr-only">Toggle Navigation</span>
                  <span class="icon-bar"></span>
                  <span class="icon-bar"></span>
                  <span class="icon-bar"></span>
              </button>
              <a class="navbar-brand" href="/">Logo</a>
          </div>

          <div class="collapse navbar-collapse" id="app-navbar-collapse">
              <ul class="nav navbar-nav">
                  &nbsp;
              </ul>
              <ul class="nav navbar-nav navbar-right">
                  <li><a href="#">Link 1</a></li>
                  <li><a href="#">Link 2</a></li>
                  <li><a href="#">Link 3</a></li>
                  <% if(user && user.id) { %>
                  <li><a href="/logout">Logout</a></li>
                  <% } else { %>
                  <li><a href="/signin">Sign In</a></li>
                  <li><a href="/signup">Sign Up</a></li>
                  <% } %>
              </ul>
          </div>
      </div>
  </nav>
</header>