<!DOCTYPE html>
<html>
  <head>
    <title><%=typeof title == 'undefined' ? 'New Sails App Index' : title%></title>
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0, maximum-scale=1.0, user-scalable=no">
    <link rel='stylesheet' href="https://maxcdn.bootstrapcdn.com/font-awesome/4.7.0/css/font-awesome.min.css">
    <link href="/css/vendor.css" media="screen" rel="stylesheet" type="text/css">
    <link href="/css/theme.css" media="screen" rel="stylesheet" type="text/css">
  </head>
  <body>
    <div id="root" class="flex_page_wrap">
        <%- partial('partials/header.ejs') %>
        <div class="flex_content_wr">
          <%- body %>
        </div>
        <%- partial('partials/footer.ejs') %>
    </div>
  </body>
</html>