.payment_method_box{background-color:#fff;padding:15px;margin-bottom:15px}.payment_method_box .headline{font-size:16px;padding-bottom:10px;border-bottom:solid 2px #dbe1e8;margin-bottom:15px}.payment_method_box:last-child{margin-bottom:15px}