<div class="container">
  <div class="row">
    <div class="col-sm-8 col-sm-offset-2">
      <div class="box box-info">
        <div class="box-header with-border">
          <h3 class="box-title">Sign In</h3>
        </div>
        <form class="form-horizontal" method="POST" action="/login">
          <div class="box-body">
            <% if(errors && errors.length > 0) { %>
            <div class="alert alert-danger">
              <ul>
              <% errors.forEach(function(error) { %>
                <li><%= error %></li>
              <% }); %>
              </ul>
            </div>
            <% } %>
            <div class="form-group">
              <label for="username" class="col-sm-2 control-label">Username</label>
              <div class="col-sm-10">
                <input type="text" class="form-control" id="username" name="username" placeholder="Username" required />
              </div>
            </div>
            <div class="form-group">
              <label for="password" class="col-sm-2 control-label">Password</label>
              <div class="col-sm-10">
                <input type="password" class="form-control" id="password" name="password" placeholder="Password" required />
              </div>
            </div>
            <div class="form-group">
              <div class="col-sm-offset-2 col-sm-10">
                <div class="checkbox">
                  <label>
                    <input type="checkbox" id="remember_me" name="remember_me"> Remember me
                  </label>
                </div>
              </div>
            </div>
          </div>
          <div class="box-footer">
            <button type="button" class="btn btn-default">Cancel</button>
            <button type="submit" class="btn btn-info pull-right">Sign in</button>
          </div>
        </form>
      </div>
    </div>
  </div>
</div>