<div class="container">
  <div class="row">
    <div class="col-sm-8 col-sm-offset-2">
      <div class="box box-info">
        <div class="box-header with-border">
          <h3 class="box-title">Sign Up</h3>
        </div>
        <form class="form-horizontal">
          <div class="box-body">
            <div class="form-group">
              <label for="signup_name" class="col-sm-3 control-label">Name</label>
              <div class="col-sm-9">
                <input type="text" class="form-control" id="signup_name" name="signup_name" placeholder="Name" required />
              </div>
            </div>
            <div class="form-group">
              <label for="signup_email" class="col-sm-3 control-label">Email</label>
              <div class="col-sm-9">
                <input type="email" class="form-control" id="signup_email" name="signup_email" placeholder="Email" required />
              </div>
            </div>
            <div class="form-group">
              <label for="signup_psw" class="col-sm-3 control-label">Password</label>
              <div class="col-sm-9">
                <input type="password" class="form-control" id="signup_psw" name="signup_psw" placeholder="Password" required />
              </div>
            </div>
            <div class="form-group">
              <label for="signup_conf_psw" class="col-sm-3 control-label">Confirm Password</label>
              <div class="col-sm-9">
                <input type="password" class="form-control" id="signup_conf_psw" name="signup_conf_psw" placeholder="Confirm Password" required />
              </div>
            </div>
          </div>
          <div class="box-footer">
            <button type="button" class="btn btn-default">Cancel</button>
            <button type="submit" class="btn btn-info pull-right">Sign Up</button>
          </div>
        </form>
      </div>
    </div>
  </div>
</div>